package pages

import "github.com/henrriusdev/portfolio/src/layout"

templ Links(){
    @layout.BaseInternal("Links") {
        <div class="container">
            <h1>Links</h1>
            <p>Hello! I'm link</p>
        </div>
    }
}