package components

templ Footer() {
	<footer class="w-full flex flex-col justify-center items-start bg-primary text-primary-foreground p-5">
		<h2 class="text-3xl text-center">Contact me</h2>

	</footer>
}
